#pie{
    grid-area: pie;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding: 80px 0 0;
    background-color: rgb(11, 58, 66);
}
#pie img{
    width: 30%;
    margin-right: 40px;
}
#menu2 h3{
    color: rgb(242, 166, 90);
}
#menu2 li{
    list-style: none;
}
#menu2 a{
    display: block;
    line-height: 2;
    text-decoration: none;
    color: white;
}
#copy {
    width: 100%;        
    text-align: center; 
    margin-top: 40px;   
    padding: 20px 0;   
}

#copy p {
    color: white;
}
