@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap');
:root{
--sombra-color:rgba(0,0,0,.5);
--body-font:oxygen;
--texto-font-size:2rem;
--color-primario:rgb(20, 101, 117);
--color-oscuro:rgb(11, 58, 66);
--color-acento:rgb(47, 152, 168);
--color-calido:rgb(242, 166, 90);
}
*{
    margin:0;
    padding:0;
    font-family: nunito;
    box-sizing: border-box;
}
p{
    font-size: 12pt;
    color: #333;
}
h2{
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(20, 101, 117);
}
section{
    padding: 80px 0;
}
.boton{
    background-color: rgb(242, 166, 90);
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 50px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
}
.boton:hover{
    background-color: rgb(11, 58, 66);
}
